In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd 
sa = [ 4, 8, 15, 16, 23, 42]
g=pd.Series(sa)
print(g)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [8]:
list_type = [1,2,3,4,5,6,7,8,9,10]
the_series = pd.Series(list_type)

print(the_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data.

In [9]:
data1 = ({ 'Name' : ['Alice','Bob','Claire'],
          'Age' : [25,30,27],
          'Gender' : ['female','male','female']})
data2 = pd.DataFrame(data1)

print(data2)

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame:
->In Pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). 
->It is one of the primary data structures in Pandas and is similar to a spreadsheet or SQL table. DataFrames are widely used for data manipulation and analysis in Python. 

Now, let's discuss the difference between a Pandas DataFrame and a Pandas Series:

Pandas DataFrame vs. Pandas Series:

Dimensionality:

DataFrame: Two-dimensional (rows and columns).
Series: One-dimensional (like a single column or row of a DataFrame).

Structure:
DataFrame: Represents a table of data with rows and columns.
Series: Represents a single column or row of data.

Accessing Data:
DataFrame: You can access specific columns or subsets of rows and columns.
Series: Represents data along a single axis (either rows or columns) and is accessed using labels or integer indices.

Data Storage:
DataFrame: Stores data in a tabular format with multiple columns.
Series: Stores data in a one-dimensional format, either as a single column or row.

In [6]:
# examples of DataFrame and Series

data1 = ({ 'Name' : ['Alice','Bob','Claire'],
          'Age' : [25,30,27],
          'Gender' : ['female','male','female']})
data2 = pd.DataFrame(data1)

print(data2)

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

In [7]:
# for Series

sa = [ 4, 8, 15, 16, 23, 42]
g=pd.Series(sa)
print(g)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions and methods to manipulate data in a DataFrame.

1)Viewing Data:
head(): Displays the first n rows of the DataFrame.
tail(): Displays the last n rows of the DataFrame.

2)Selection and Indexing:
loc[] and iloc[]: Allows you to select rows and columns by label (loc) or integer position (iloc).


3)Filtering Data:
query(): Allows you to filter rows based on a query expression.
boolean indexing: Filters rows based on conditions using boolean expressions.

4)Sorting Data:
sort_values(): Sorts the DataFrame based on one or more columns.


Data Cleaning:
fillna(): Replaces missing values with a specified value.
drop(): Removes rows or columns from the DataFrame.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable in nature, while Panel is deprecated and no longer part of the main Pandas library as of version 0.25.0.

Here's a simple explanation:

Series: A Pandas Series is mutable, which means you can modify its elements, change its values, and add or remove elements after it's created. For example, you can change the value of a specific element in a Series or append new values to it.

DataFrame: A Pandas DataFrame is also mutable. You can add, remove, or modify columns, rows, or individual cell values within a DataFrame. This makes DataFrames a versatile data structure for data manipulation and analysis.

Panel:A Panel in Pandas was a three-dimensional data structure that was used for handling data. It was essentially a container for holding multiple DataFrames with a common index. However, Panels have been deprecated in recent versions of Pandas (as of version 0.25.0) because they were found to be less commonly used and less intuitive than Series and DataFrames.

Q7 Create a DataFrame using multiple Series. Explain with an example.

we can create a DataFrame using multiple Series by combining these Series into a dictionary and then converting the dictionary into a DataFrame. Each Series will become a column in the resulting DataFrame, and they should have the same length to align properly. the example is

In [11]:
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Combining the Series into a dictionary
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Printing the resulting DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

explanation for the example

1)We create three separate Series: name_series, age_series, and gender_series.

2)We then combine these Series into a dictionary called data, where each Series is associated with a column name.

3)Finally, we use the pd.DataFrame() constructor to create a DataFrame df from the dictionary.